.Button {
    width: 200px;
    height: 64px;
}

.Button button {
    background-color: transparent;
    font-size: 30px;
    color: #D89776;
    border: none;
    line-height: 64px;
    font-weight: 600;
}

.Button button:hover {
    color: white;
    border: none;
    cursor: pointer;
}

.Button button:focus {
    outline: 0;
}