.NavBar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    background-color: transparent;
}

.NavBar img {
    float: left;
    margin-left: 200px;
    margin-top: 20px;
}